@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to top, #010409, #2d2b2b);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #00b09b, #96c93d);
}

/* code for toast msg */
span#notify_toast {
  position: fixed;
  top: 90%;
  right: 5%;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  backdrop-filter: blur(110px);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  z-index: 2;
  transition: all 0.5s ease;
}

.hide_toast {
  opacity: 0;
}

.show_toast {
  opacity: 1;
}

/* code for create gradient dropdoan */
.color_maker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  transition: all 0.5s;
}

.color_maker_close {
  top: -100%;
}

#gradient_card_edit {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#gradient_card_edit input[type="text"] {
  color: whitesmoke;
  margin-top: 3em;
}

#gradient_card_edit #close {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s;
}

#gradient_card_edit #close:hover {
  scale: 1.5;
  background: rgba(255, 255, 255, 0.1);
}

#color_inputs button {
  font-size: 1.4rem;
  color: #000;
  cursor: pointer;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
}

#color_inputs button ion-icon {
  --ionicon-stroke-width: 26px;
}

/* make color maker div responsive */
@media screen and (max-width: 380px) {
  .color_maker {
    width: 100%;
    min-height: 100vh;
  }

  .color_maker .gradient_card {
    width: 100%;
    min-height: 100vh;
    box-shadow: none;
  }

  .color_maker .gradient_card::before {
    display: none;
  }
}

.container {
  position: relative;
  min-height: 65vh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: linear-gradient(to right, #6d28d9, #db2777);
  padding-inline: 8%;
  overflow-x: hidden;
  z-index: 1;
}

.container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #0b1121, transparent);
  backdrop-filter: blur(20px);
  z-index: -1;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff4e;
}

nav h1.logo_text {
  padding-block: 1.5rem;
  font-size: 20px;
  line-height: 32px;
  color: #ffffffd6;
}

nav #theme_toggler {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fcfcfb9d;
}

nav #theme_toggler:hover {
  scale: 1.1;
}

nav #theme_toggler ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

main.hero_section {
  padding-block: 3.5rem;
}

.hero_section h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #ffffff;
}

.form {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.form input {
  padding: 12px 24px;
  width: min(100%, 350px);
  border-radius: 5px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  outline: none;
}

.form input::placeholder {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.form input:hover,
.form input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.4);
}

.form a.btn {
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.form a.btn ion-icon {
  scale: 1.4;
  --ionicon-stroke-width: 46px;
}

.form a.btn:hover {
  background: rgba(255, 255, 255, 0.4);
  margin-top: -10px;
}

/* make hero section fully responsive */
@media screen and (max-width: 640px) {
  .container {
    padding-inline: 15px;
  }

  .hero_section h2 {
    font-size: 30px;
  }

  .form {
    flex-direction: column;
  }

  .form input {
    width: 100%;
  }

  .form a {
    width: 100%;
  }

}

.container {
  background: linear-gradient(90deg,
      #f12711,
      #6d28d9,
      #db2777,
      #feac5e,
      #c779d0,
      #4bc0c8);
  background-size: 600% 600%;
  animation: gradient 16s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* gradient container section */

.gradient_container {
  max-width: 100vw;
  min-height: 100vh;
  padding-block: 2.5rem;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-inline: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 5rem;
  overflow-x: hidden;
  background: url('../images/rays_!.png'), rgb(17, 24, 39);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  backdrop-filter: blur(20px);
}



.gradient_container .gradient_card:hover {
  filter: blur(0px);
  transform: translateY(-5px);
  opacity: 1;
}

.gradient_card {
  position: relative;
  background: transparent;
  min-width: 260px;
  min-height: 355px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 40px #2d2b2b;
  border-radius: 5px;
  /* overflow: hidden; */
}

.gradient_card:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(20px);
  z-index: -1;
  /* -webkit-animation: rotate-center 0.4s ease-in-out both; 
	 animation: rotate-center 0.8s ease-in-out both; */
}

/* @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
} */

.gradient_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6));
}

.gradient_code {
  width: 100%;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  line-height: 24px;
  color: #7dd3fc;
  background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6));
  padding: 10px 20px;
}

.dummy_txt_gradient {
  color: #f472b6;
}

.dummy_txt_comma,
.dummy_txt_bracket_open,
.dummy_txt_bracket_close {
  color: #64748b;
}

.dummy_txt_gradient_pos {
  color: #7dd3fc;
}

.dummy_txt_color_code {
  color: #f8fafc;
}

.colors {
  background: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.title_with_copy_btn {
  background: transparent;
  padding-inline: 15px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.title_with_copy_btn h1.gradient_title {
  font-size: 1.3rem;
  line-height: 24px;
  text-transform: capitalize;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
}

.title_with_copy_btn button {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  background: transparent;
}

.title_with_copy_btn button:hover {
  transform: scale(1.1);
}

.title_with_copy_btn button ion-icon {
  --ionicon-stroke-width: 32px;
}

.title_with_copy_btn button:hover ion-icon {
  --ionicon-stroke-width: 42px;
}

.gradient_info p {
  background: transparent;
  padding-inline: 15px;
  padding-bottom: 8px;
  padding-top: 6px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 640px) {
  .gradient_container {
    padding-inline: 15px;
  }

  .title_with_copy_btn h1.gradient_title {
    font-size: 1.1rem;
    line-height: 20px;
  }

  .gradient_info p {
    font-size: 0.9rem;
  }
}

footer {
  padding: 4rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 28px;
  color: #374151;
  background: linear-gradient(90deg,
      #6d28d9,
      #db2777,
      #feac5e,
      #c779d0,
      #4bc0c8);
  background-size: 600% 600%;
  animation: gradient_footer 16s ease infinite;
}

@keyframes gradient_footer {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer p.text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.subscription_form {
  max-width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

footer input[type="email"] {
  padding: 10px;
  border: 2px solid #d1d5db;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  font-size: 0.8rem;
  width: 100%;
  border-radius: 5px;
  color: #fff;
}

footer input[type="email"]::placeholder {
  padding: 10px;
  font-size: 0.8rem;
  color: #fff;
}

footer input[type="email"]:focus {
  border: 1px solid #7c3aed;
  outline: none;
}

button.subscribe {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(to right, #6d28d9, #db2777);
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.5s;
}

button.subscribe:hover {
  background: linear-gradient(90deg, #fd746c, #ff9068);
  transform: translateY(-10%);
  box-shadow: 0px 3px 10px #c2c6cc;
}

button.subscribe ion-icon {
  font-size: 1.2rem;
  --ionicon-stroke-width: 36px;
}

.contributor_desc {
  margin-top: 2rem;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 16px;
  line-height: 24px;
}


.contributor_desc img.profile {
  width: 80px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.4);
}


.desc .title {
  font-weight: 700;
  color: #fff;
}

.desc .detailed {
  font-weight: 400;
  line-height: 20px;
  color: #e7e7e7;
}

.desc a {
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
  color: #ffffff;
  border-bottom: 2px solid;
}

.social_links {
  margin-top: 5rem;
  display: flex;
  gap: 1.8rem;
  font-size: 1.3rem;
}

.social_links a {
  font-size: 1.3rem;
  color: #fff;
  transition: all 0.4s;
}

.social_links a:hover {
  color: #e3e3e3;
  transform: translateY(-20%);
}

p.copyright {
  margin-top: 0.5rem;
  color: #d4d4d4;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 510px) {
  footer {
    padding: 1rem 15px;
  }

  footer p.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .subscription_form {
    flex-direction: column;
    gap: 1rem;
  }

  .subscription_form .subscribe {
    width: 100%;
  }

  .contributor_desc {
    /* flex-direction: column; */
    gap: 0.6rem;
  }

  .desc .detailed.d2 {
    display: none;
  }
}