* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #6c28d9, #db2778);
}

/* code for toast msg */
span#notify_toast {
    position: fixed;
    top: 90%;
    right: 5%;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(110px);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    z-index: 2;
    transition: all .5s ease;
}

.hide_toast {
    opacity: 0;
}

.show_toast {
    opacity: 1;
}

/* code for create gradient dropdoan */
.color_maker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all .5s;
}

.color_maker_close {
    top: -100%;
}

#gradient_card_edit {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#gradient_card_edit input[type="text"] {
    color: whitesmoke;
    margin-top: 3em;
}

#gradient_card_edit #close {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    font-size: 20px;
    transition: all .5s;
}

#gradient_card_edit #close:hover {
    scale: 1.5;
    background: rgba(255, 255, 255, .1);
}


#color_inputs button {
    font-size: 1.4rem;
    color: #000;
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
}

#color_inputs button ion-icon {
    --ionicon-stroke-width: 26px;
}

/* make color maker div responsive */
@media screen and (max-width:380px) {
    .color_maker {
        width: 100%;
        min-height: 100vh;
    }

    .color_maker .gradient_card {
        width: 100%;
        min-height: 100vh;
        box-shadow: none;
    }

    .color_maker .gradient_card::before {
        display: none;
    }
}

.container {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: linear-gradient(90deg, #6d28d9,#db2777,#feac5e, #c779d0, #4bc0c8);
    /* background:linear-gradient(to right, #6d28d9, #db2777); */
    background-size: 600% 600%;
    padding-inline: 8%;
    overflow-x: hidden;
    animation: gradient 16s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


h1.logo_text {
    padding-block: 1.5rem;
    font-size: 20px;
    line-height: 32px;
    color: #ffffffd6;
    border-bottom: 1px solid #ffffff4e;
}

main.hero_section {
    padding-block: 3.5rem;
}

.hero_section h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #ffffff;
}

.hero_section h2:nth-child(2) {
    color: #ffffff;
}

.form {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;

}

.form input {
    padding: 12px 24px;
    width: min(100%, 350px);
    border-radius: 5px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    outline: none;
}

.form input::placeholder {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.form input:hover,
.form input:focus {
    outline: 3px solid rgba(255, 255, 255, .4);
}

.form a.btn {
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, .2);
    cursor: pointer;
}

.form a.btn ion-icon {
    scale: 1.4;
    --ionicon-stroke-width: 46px;
}

.form a.btn:hover {
    background: rgba(255, 255, 255, .4);
    margin-top: -10px;
}


/* make hero section fully responsive */
@media screen and (max-width:640px) {
    .container {
        padding-inline: 15px;
    }

    .hero_section h2 {
        font-size: 30px;
    }

    .form {
        flex-direction: column;
    }

    .form input {
        width: 100%;
    }

    .form a {
        width: 100%;
    }

}


/* gradient container section */

.gradient_container {
    max-width: 100vw;
    padding-block: 2.5rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-inline: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    gap: 5rem;
    overflow-x: hidden;
}

.gradient_card {
    position: relative;
    min-width: 260px;
    min-height: 300px;
    box-shadow: 0px 10px 40px #cec7c7;
    border-radius: 5px;
    /* overflow: hidden; */
}


.gradient_card:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    scale: 1.02;
    filter: blur(30px);
    z-index: -1;
}


.gradient_info {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.colors {
    background: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}



input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
    border: none;
}

.title_with_copy_btn {
    background: #fff;
    padding-inline: 15px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.title_with_copy_btn h1.gradient_title {
    font-size: 1.3rem;
    line-height: 24px;
    text-transform: capitalize;
}

.title_with_copy_btn button {
    font-size: 1.6rem;
    color: #a5abae;
    cursor: pointer;
    background: transparent;
}

.title_with_copy_btn button ion-icon {
    --ionicon-stroke-width: 56px;
}

.gradient_info p {
    background: #fff;
    padding-inline: 15px;
    padding-bottom: 8px;
    padding-top: 6px;
    color: #adb1b5;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media screen and (max-width:640px) {
    .gradient_container {
        padding-inline: 15px;
    }

    .title_with_copy_btn h1.gradient_title {
        font-size: 1.1rem;
        line-height: 20px;
    }

    .gradient_info p {
        font-size: .9rem;
    }
}